* {
  margin: 0;
  box-sizing: border-box;
  color: white;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}

html, body {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #0e1621;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7);
}

#coin-container {
  width: 512px;
  height: 512px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 35px;
  background: linear-gradient(90deg, #6eaaff48, #00000000);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100px;
}

#type-text {
  position: absolute;
  top: 20px;
  left: calc((100% - 200px)/2);
  height: 35px;
  font-size: 14px;
  background: linear-gradient(90deg, #00000000, #6eaaff48);
  width: 100%;
  padding-top: 10px;
  padding-right: 20px;
  text-align: right;
  border-radius: 5px;
}

#bottom-nav {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

#bottom-nav button {
  height: 35px;
  background: linear-gradient(90deg, #5082c748, #278fb836);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: calc(100% - 35px);
}

#bottom-nav img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

#increase, #rotation-x {
  position: absolute;
  padding: 10px;
  background-color: #246bbd46;
  border: none;
  cursor: pointer;
  top: 20px; right: 20px;
width: 30px;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
height: 30px }
#decrease{
  position: absolute;
  padding: 10px;
  background-color: #246bbd46;
  cursor: pointer;
  border: none;
  top: 52px; right: 20px;
width: 30px;
height: 30px;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
}

#rotation-x {
  top: 100px;
}

#rotation-y {
  top: 132px;
  position: absolute;
  padding: 10px;
  background-color: #246bbd46;
  cursor: pointer;
  border: none;
   right: 20px;
width: 30px;
height: 30px;
}


#editor {
  bottom: 100px;
  position: absolute;

  display: flex;
  right: 25px;
  flex-direction: column;


gap: 10px;
  border-radius: 25px;
  /* flex-direction: row;
  width: 100%;
  justify-content: space-evenly; */
}

.editor-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: right;
  border-radius: 25px;
}

.editor-tag {
  background-color: #11223a;
  border-radius: 25px;
  height: 30px;
  width: 30px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.editor-item {
  background: linear-gradient(90deg, #073e5e  , #246bbd46);
  border-radius: 25px;
  height: 30px;
  display: flex;
}
.editor-item .button-title {
  background-color: #073e5e;
  border-radius: 25px;
  cursor:default;
}
.editor-item * {
  margin:0px;
  padding: 1px;
  background-color: transparent;
  cursor: pointer;
  border: none;
width: 30px;
height: 30px;
}

#rotation-z {
  top: 164px;
  position: absolute;
  padding: 10px;
  background-color: #246bbd46;
  cursor: pointer;
  border: none;
   right: 20px;
width: 30px;
height: 30px;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
}
.result-menu {
  position: fixed;
  bottom: -50%;
  left: 10%;
  width: 80%;
  height: 300px;
  background-color: #0e1621;
  box-shadow: 0 -2px 10px #000000;
  transition: bottom 0.5s ease;
  z-index: 1000;
  display: flex;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.result-menu img {
  width: 100px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  cursor: pointer;
}

.result-menu button {
  width: 100%;
  height: 50px;
  cursor: pointer;
  background-color: #142133;
  border: none;
  border-radius: 20px;
}

.result-menu.active {
  bottom: 0;
}

#main-menu {
  position: fixed;
  bottom: -30%;
  width: 90%;
  height: 30%;
  background-color: #121d2c;
  box-shadow: 0 -2px 10px #000000;
  transition: bottom 0.5s ease;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  scrollbar-width: thin;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

#main-menu img {
  width: 100px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  cursor: pointer;
}

#textures-menu {
  position: fixed;
  bottom: -30%;
  width: 90%;
  height: 30%;
  background-color: #121d2c;
  box-shadow: 0 -2px 10px #000000;
  transition: bottom 0.5s ease;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  scrollbar-width: thin;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 20px;
}

#textures-menu button {
  height: 40px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#textures-menu.active, #main-menu.active {
  bottom: 0;
}

#x0v72wk {
  height: 35px;
  width: 100%;
  display: flex;
  border-radius: 10px;
  background-color: #00000041;
  align-items: center;
  margin-top: 10px;
}

.delete-icon {
  width: 30px;
  height: 30px;
  padding: 3px;
}

.grid {
  display: grid;
  overflow-y: auto;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
}

.tile {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  text-align: center;
  padding-left: 15px;
}

.tile:hover {
  background: #0e1621;
  padding-left: 20px;
}
