* {
    margin: 0; 
    box-sizing: border-box;
} 

 html, body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center; /* Центрируем по вертикали */
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(180deg, #3c5981, #0e1621); /* Цвет фона (по желанию) */
}


input[type="file"] {
  display: none;
}

.custom-file-upload img {
  width: 50px;
  cursor: pointer;
  padding: 8px;
  height: 50px;
}





.sliding-menu {
  position: fixed;
  bottom: -50%; /* Hide the menu below the screen */
  left: 10%;
  width: 80%;
  height: 30%; /* Adjust as needed */
  background-color: #283441;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  transition: bottom 0.5s ease; /* Smooth transition */
  z-index: 1000;
  display: flex;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding:20px;

  flex-direction: column;
}

.sliding-menu * {
  height: 50px;
  width: 100%;
  background-color: #2a3d50;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.sliding-menu.active {
  bottom: 0; /* Show the menu */
}


.grid {
  display: grid;
  position: fixed;
  bottom: 40px;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px; /* Промежуток между плитками */
  width: 75%;
}

.tile {
  width: 100%; /* Половина ширины экрана */
  height: 50px; /* Половина высоты экрана, можно изменить */
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 15px;
  cursor: pointer;
  background: #0e162148; /* Белый фон с прозрачностью */
  border-radius: 10px; /* Скругленные углы */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Легкая тень */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Полупрозрачная белая рамка */
  color: white;
  text-align: center;
  padding-left: 15px;
}
.tile:hover {
  background: #0e1621;
  scale: 0.95;
}
#direction-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
#direction-container button{
  height: 40px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#x0v72wk {
  height: 35px;
  width: 100%;
  display: flex;
  border-radius: 10px;
  background-color: #862222;
  align-items: center;
}

.delete-icon {
  width: 30px;
  height: 30px;
  padding: 3px;
  display: none;
}

.sliding-menu-x {
  position: fixed;
  bottom: 0px; /* Hide the menu below the screen */
  left: 10%;
  width: 80%; /* Adjust as needed */
  background-color: #283441;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  transition: bottom 0.5s ease; /* Smooth transition */
  z-index: 1000;
  display: flex;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding:20px;

  flex-direction: column;
}
/* 
.sliding-menu-x {
  height: 50px;
  width: 100%;
  background-color: #202b36;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
} */
.sliding-menu-x.active {
  bottom: 0; /* Show the menu */
}


.translate-btn {
  background-color: white; /* основной цвет для кнопок */
}
.active {
  background-color: lightblue; /* цвет для выбранной кнопки */
}

.result-menu {
  position: fixed;
  bottom: -50%; /* Hide the menu below the screen */
  left: 10%;
  width: 80%;
  height: 300px; /* Adjust as needed */
  background-color: #283441;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  transition: bottom 0.5s ease; /* Smooth transition */
  z-index: 1000;
  display: flex;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding:20px;
  align-items: center; /* Центрируем по вертикали */
  justify-content: center;
  flex-direction: column;
}

.result-menu img {
  width: 100%;
  cursor: pointer;
}

.result-menu button {
  width: 100%;
  height: 50px;
  cursor: pointer;
  background-color: #193b5f; 
}
.result-menu.active {
  bottom: 0; /* Show the menu */
}


  .search-button {
    width: 25%;
    height: 50px;
    background-color: #2f4052; 
    color: rgb(61, 121, 170);
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 10px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
  }
  


#rotate-container {
  position: fixed;  /* Зафиксировано относительно окна */
  bottom: 0;        /* Привязка к нижней части экрана */
  left: 0;
  display: flex;   /* Выровняем кнопки по горизонтали */
  justify-content: space-around; /* Центрирование кнопок */ /* Прозрачный фон для видимости */   /* Отступы для красоты */
  z-index: 500;    /* Чтобы контейнер был поверх всех элементов */
  width: 100%;
  align-items: end;
  background-color:#00000023;
  height: 70px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  padding-bottom: 15px;
}


#rotate-container-2 {
  display: flex;  
  gap: 10px;
  flex-direction: column;
  visibility: hidden;
}

#rotate-container img{
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
}

#rotate-container-2.active {
  visibility: visible;
}

#rotate-btn-x, #rotate-btn-y, #rotate-btn-z {
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  background-color: #283441;
}


  .coin {
    width: 100px; /* Ширина иконки */
    height: 100px; /* Высота иконки */
    background-size: cover;
    border-radius: 50%; /* Делает иконку круглой */
    animation: spin 2s linear infinite; /* Анимация вращения */
    background-color: #2f4052; /* Замените на URL вашей иконки */
  
}