* {
    margin: 0;
    box-sizing: border-box;
}

body, head {
    display: flex;
    background-color: #151c25;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-container {
    width: 75%;
}

.search-container {
    position: relative;
    margin-bottom: 10px;
    margin-top: 50px;
    width: 100%;
  }
 
  .search-input {
    width: 100%;
    color: rgb(61, 121, 170);
    outline: none;
    padding: 10px 140px 10px 15px; /* Отступы для иконки и кнопки */
    border: 2px solid #283441;
    border-radius: 10px;
    background-color: #283441;
    font-size: 16px;
  }


  .search-button {
    position: absolute;
    top: 0;
    right: 0; 
    width: 25%;
    background-color: #2f4052; 
    color: rgb(61, 121, 170);
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 10px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
  }
  

  #coin-container {
    width: 200px;
    height: 200px;

    position: relative;
  background-image: url("bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


#rotate-container {
  position: fixed;  /* Зафиксировано относительно окна */
  bottom: 0;        /* Привязка к нижней части экрана */
  left: 10%;
  right: 0;
  display: flex;   /* Выровняем кнопки по горизонтали */
  justify-content: center; /* Центрирование кнопок */ /* Прозрачный фон для видимости */
  padding: 10px;    /* Отступы для красоты */
  z-index: 1000;    /* Чтобы контейнер был поверх всех элементов */
  gap: 30px;
  width: 75%;
  padding-bottom: 20px;
}


#rotate-btn-x, #rotate-btn-y, #rotate-btn-z {
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: #283441;
}

#start-capture {
  flex: 1;
  background-color: #283441;
  border: none;
  border-radius: 5%;
}

  .coin {
    width: 100px; /* Ширина иконки */
    height: 100px; /* Высота иконки */
    background-size: cover;
    border-radius: 50%; /* Делает иконку круглой */
    animation: spin 2s linear infinite; /* Анимация вращения */
    background-color: #2f4052; /* Замените на URL вашей иконки */
  
}